
html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #F0F2F5;
    font-family: 'Helvetica', Arial, sans-serif;
    overflow-x: hidden;
}

.container{
    margin-top: 100px;
    margin-left: 50px;
}

.description-col{
    padding-top: 100px;
}

.facebook{
    font-size: 60px;
}

.description{
    font-size: 25px;
}

.card{
    padding: 20px;
    width: 390px;
    margin-bottom: 50px;
    
}

.form-control{
    width: 80px;
    height: 50px;
    margin-bottom: 15px;
}
.btn-primary{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

.btn-success{
    background-color: #36A420;
    margin-left: 90px;
}

span a{
    color: black;
    text-decoration: none;
}